@import '../../scss/custom-variables.scss';


.login-form {
   background-color: $Dark-Jungle-Green;

   .form-container {
      background-color: $Outer-Space-Crayola;
      width: 340px;

      .logo {
         font-weight: bold;
         
         img {
            width: 45px;
         }
      }

      p {
         color: $Light-Gray;
      }
   }

}