@import '../../scss/custom-variables.scss';


// search bar component
.search-bar {
   display: flex;
   align-items: center;
   background-color: $Charleston-Green;
 
   .form-control {
     border: none;
     background-color: transparent;
     flex-grow: 1;
     padding: 10px;
   }
 
   .btn-outline-success {
     cursor: pointer;
   }
}